<div class="container">

<div class="row">
  <div class="col-12 col-sm-12 col-md-6 col-lg-4">
    <form class="input-form" action="/answer" method="get">
      <div class="form-row">
        <div class="col-9">
          <input type="text" class="form-control" name="question">
        </div>
        <div class="col-3">
          <input type="submit" value="Ask!" class="btn btn-primary">
        </div>
      </div>
    </form>
  </div>
</div>

</div>
